#body{
    margin: 0;
    padding: 0;
    color: #184E77;
}

#main .carousel-inner img{
    max-height: 80vh;
    object-fit: cover;
    filter:grayscale(80%)
}

#carousel{
    position: relative; /*Para que se adapte a la pantalla*/
}

.overlay {
    position:absolute; /* Para que se adapta al caruosel*/
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    
}


#text-llamado{
    color: #FFD60A !important;
    font-size: 18px;
    font-weight: 900;
}

#header{
    background-color: #003459;
    
}
#header a{
    color: #FFFFFF;
    font-family:Roboto Slab;
}

#logo{
    max-height: 80px;
    max-width: 80px;
}

#footer{
    background-color: #00171F;
    color: #FFFFFF;
}

#carusel{
    max-height: 80vh;
    object-fit: cover;
    filter: sepia(30%);
    height: 400px;
    width: 400px;
    position: absolute;
    left: 500px;
    

}

#evento-marca{
    background-color: #00A8E8;
    color: #00171F;
}

#evento-marca img{
    max-width: 100%;
    max-height:80% ;  
}